<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="TOKEN" value="Mzg0NjYyNzc3NzczNTU1NzEy.XQAaFQ.CX3Tp85zEuQUoVy3ZP-ZCOa-IfQ"/>
        <add key="SQLSERVER_URI" value="sqlserver://awtmbjjspaaduumh:N5d8tyNiGBxYPsAp7s6yNEHBwnEScDzKYc8yxzdKnK5J6EdrFTiEYeKhuJJf25fd@3b6ade31-cdf6-417d-95ee-a83f00b6ee26.sqlserver.sequelizer.com/db3b6ade31cdf6417d95eea83f00b6ee26"/>
        <add key="GAME" value="Commands: !help"/>
    </appSettings>
</configuration>
