<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="TOKEN" value=""/>
        <add key="SQLSERVER_URI" value=""/>
        <add key="GAME" value="Commands: !help"/>
    </appSettings>
</configuration>
